<?xml version="1.0" encoding="UTF-8"?>
<!--debug="false"关闭logback内部监控 -->
<configuration debug="false">
  <property name="LOG_PATH" value="${APP_HOME:-.}/logs" />
  <!-- 引用公共配置 -->
  <include resource="com/suixingpay/takin/logback/base.xml" />
  <jmxConfigurator />
  <!-- 非生产环境环境. -->
  <springProfile name="default, dev">
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="org.springboot.sample" level="ERROR" />
    <logger name="com.suixingpay" level="TRACE" />
    <!-- 打印SQL,需要把mapper的日志设置为TRACE -->
    <logger name="com.suixingpay.demo.mapper" level="TRACE" />
    <logger name="com.jarvis" level="TRACE" />
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
      <appender-ref ref="ERROR" />
    </root>
  </springProfile>
  <springProfile name="test, rc">
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="org.springboot.sample" level="ERROR" />
    <logger name="com.suixingpay" level="TRACE" />
    <logger name="com.jarvis" level="TRACE" />
    <root level="INFO">
      <appender-ref ref="FILE" />
      <appender-ref ref="ERROR" />
    </root>
  </springProfile>
  <!-- 生产环境. -->
  <springProfile name="prod">
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="org.springboot.sample" level="ERROR" />
    <logger name="com.suixingpay" level="ERROR" />
    <root level="INFO">
      <appender-ref ref="FILE" />
      <appender-ref ref="ERROR" />
    </root>
  </springProfile>
</configuration>